<%- include('../includes/_header.ejs', {pageTitle: `${title} — ${root.data.title}`}) -%>

<nav><a href="/">&larr; <%= root.data.title %></a></nav>

<article>
  <h1><%= title %></h1>
  <%- body %>
  <p><em>Posted on <%= date.toDateString() %>.</em></p>
</article>

<%- include('../includes/_footer.ejs') -%>
