<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>

    <title><%= data.title %></title>
    <link><%= data.url %></link>
    <description><%= data.description %></description>
    <atom:link href="<%= data.url %>/rss.xml" rel="self" type="application/rss+xml" />

    <% for (const name of Object.keys(posts).reverse()) { const {title, body} = posts[name]; -%>
    <item>
        <title><%= title %></title>
        <link><%= data.url %>/posts/<%= name %>.html</link>
        <guid><%= data.url %>/posts/<%= name %>.html</guid>
        <description><![CDATA[<%- body.trim() %>]]></description>
    </item>
    <% } -%>

  </channel>
</rss>
